apache-airflow == 2.7.1

apache-airflow-providers-common-sql == 1.7.1
apache-airflow-providers-microsoft-mssql[common.sql] == 3.4.2 
apache-airflow-providers-postgres[common.sql] == 5.6.0
apache-airflow-providers-snowflake[common.sql] == 5.0.0
apache-airflow-providers-sqlite[common.sql] == 3.4.3

apache-airflow-providers-microsoft-azure == 6.3.0

apache-airflow-providers-elasticsearch[common.sql] == 5.0.1

numba == 0.58.1
pandas==2.1.0


filprofiler == 2023.3.1

-e ./airflow/rs_airflow


# Constraints - making sure Airflow is running compatibly as a server
-c https://raw.githubusercontent.com/apache/airflow/constraints-2.7.1/constraints-3.10.txt
