# To make sure Airflow work correctly, we should strictly force library to stay at the same version

# Base Airflow
apache-airflow == 2.7.3

# SQL libraries
apache-airflow-providers-common-sql
apache-airflow-providers-microsoft-mssql[common.sql]
apache-airflow-providers-postgres[common.sql]
apache-airflow-providers-snowflake[common.sql]
apache-airflow-providers-sqlite[common.sql]

# Azure related library
apache-airflow-providers-microsoft-azure

# Elasticsearch
apache-airflow-providers-elasticsearch[common.sql]

# Kubernetes
apache-airflow-providers-cncf-kubernetes

# Big Data libraries
pyspark
pandas

oscrypto @ git+https://github.com/wbond/oscrypto.git@d5f3437ed24257895ae1edd9e503cfb352e635a8

# Install customized libraries
-e ./rs_airflow


# Constraints - making sure Airflow is running compatibly as a server
-c https://raw.githubusercontent.com/apache/airflow/constraints-2.7.3/constraints-3.10.txt
